<h1>Convert <%= @start_currency%> to <%= @end_currency%></h1>

<div>1 <%= @start_currency%> equals <%= @fx_rate %> <%= @end_currency %>.</div> 
<br>
<div>Go <a href="/forex/<%=@start_currency%>">back</a>.</div>
